### CMSC 673 Intro to NLP - Project
#### Patty Delafuente and Neel Patel

##notebook created by Patty to transform data

In [64]:
from datasets import load_dataset
dataset = load_dataset("glue", "cola")
dataset

DatasetDict({
    train: Dataset({
        features: ['sentence', 'label', 'idx'],
        num_rows: 8551
    })
    validation: Dataset({
        features: ['sentence', 'label', 'idx'],
        num_rows: 1043
    })
    test: Dataset({
        features: ['sentence', 'label', 'idx'],
        num_rows: 1063
    })
})

In [65]:
dataset["train"][0]

{'sentence': "Our friends won't buy this analysis, let alone the next one we propose.",
 'label': 1,
 'idx': 0}

In [66]:
import pandas as pd
df_train = pd.DataFrame(dataset["train"])
print(df_train.shape)
df_train.head()

(8551, 3)

                                            sentence  label  idx
0  Our friends won't buy this analysis, let alone...      1    0
1  One more pseudo generalization and I'm giving up.      1    1
2   One more pseudo generalization or I'm giving up.      1    2
3     The more we study verbs, the crazier they get.      1    3
4          Day by day the facts are getting murkier.      1    4

In [67]:
#remove any sentences that are labeled as unacceptable 
df_train = df_train.loc[~(df_train == 0).any(axis=1)]
print(df_train.head())
df_train.shape

                                            sentence  label  idx
1  One more pseudo generalization and I'm giving up.      1    1
2   One more pseudo generalization or I'm giving up.      1    2
3     The more we study verbs, the crazier they get.      1    3
4          Day by day the facts are getting murkier.      1    4
5                              I'll fix you a drink.      1    5

(6022, 3)

In [68]:
#now lets repurpose and change the labels so that it is a 1 if it is a question or 0 if not
import numpy as np
df_train["label"] = np.where(df_train["sentence"].str[-1:] == "?",1,0)
df_train.rename(columns={'label':'target'},inplace=True)
df_train.head()

                                            sentence  target  idx
1  One more pseudo generalization and I'm giving up.       0    1
2   One more pseudo generalization or I'm giving up.       0    2
3     The more we study verbs, the crazier they get.       0    3
4          Day by day the facts are getting murkier.       0    4
5                              I'll fix you a drink.       0    5

In [69]:
df_val = pd.DataFrame(dataset["validation"])
print(df_val.shape)
df_val.head()

(1043, 3)

                                            sentence  label  idx
0    The sailors rode the breeze clear of the rocks.      1    0
1  The weights made the rope stretch over the pul...      1    1
2         The mechanical doll wriggled itself loose.      1    2
3        If you had eaten more, you would want less.      1    3
4           As you eat the most, you want the least.      0    4

In [70]:
#remove any sentences that are labeled as unacceptable
df_val = df_val.loc[~(df_val == 0).any(axis=1)]
print(df_val.shape)
df_val.head()

(720, 3)

                                            sentence  label  idx
1  The weights made the rope stretch over the pul...      1    1
2         The mechanical doll wriggled itself loose.      1    2
3        If you had eaten more, you would want less.      1    3
7  Mary listens to the Grateful Dead, she gets de...      1    7
8  The angrier Mary got, the more she looked at p...      1    8

In [71]:
#now lets repurpose and change the labels so that it is a 1 if it is a question or 0 if not
import numpy as np
df_val["label"] = np.where(df_val["sentence"].str[-1:] == "?",1,0)
df_val.rename(columns={'label':'target'},inplace=True)
df_val.head()

                                            sentence  target  idx
1  The weights made the rope stretch over the pul...       0    1
2         The mechanical doll wriggled itself loose.       0    2
3        If you had eaten more, you would want less.       0    3
7  Mary listens to the Grateful Dead, she gets de...       0    7
8  The angrier Mary got, the more she looked at p...       0    8

In [72]:
df_test = pd.DataFrame(dataset["test"])
print(df_test.shape)
df_test.head()

(1063, 3)

                                            sentence  label  idx
0                      Bill whistled past the house.     -1    0
1              The car honked its way down the road.     -1    1
2                    Bill pushed Harry off the sofa.     -1    2
3               the kittens yawned awake and played.     -1    3
4  I demand that the more John eats, the more he ...     -1    4

In [73]:
#remove any sentences that are labeled as unacceptable
df_test = df_test.loc[~(df_test == 0).any(axis=1)]
df_test.shape

(1062, 3)

In [74]:
#now lets repurpose and change the labels so that it is a 1 if it is a question or 0 if not
import numpy as np
df_test["label"] = np.where(df_test["sentence"].str[-1:] == "?",1,0)
df_test.rename(columns={'label':'target'},inplace=True)
df_test.head()

                                            sentence  target  idx
1              The car honked its way down the road.       0    1
2                    Bill pushed Harry off the sofa.       0    2
3               the kittens yawned awake and played.       0    3
4  I demand that the more John eats, the more he ...       0    4
5  If John eats more, keep your mouth shut tighte...       1    5

In [75]:
#save the files to use in model training and evaluation
df_train.to_csv("df_train.csv",index=False)
df_val.to_csv("df_val.csv",index=False)
df_test.to_csv("df_test.csv",index=False)

In [77]:
#well- issue with df_val. Let's merge these into one dataset and then split using dataset tools
df_merge = pd.concat([df_train,df_val],ignore_index=True)
print(df_merge)
df_merge.head()

                                               sentence  target   idx
0     One more pseudo generalization and I'm giving up.       0     1
1      One more pseudo generalization or I'm giving up.       0     2
2        The more we study verbs, the crazier they get.       0     3
3             Day by day the facts are getting murkier.       0     4
4                                 I'll fix you a drink.       0     5
...                                                 ...     ...   ...
6737  The correspondence school sent Bill a good typ...       0  1037
6738                         John considers Bill silly.       0  1038
6739                   John considers Bill to be silly.       0  1039
6740        John arranged for himself to get the prize.       0  1041
6741                 John talked to Bill about himself.       0  1042

[6742 rows x 3 columns]

                                            sentence  target  idx
0  One more pseudo generalization and I'm giving up.       0    1
1   One more pseudo generalization or I'm giving up.       0    2
2     The more we study verbs, the crazier they get.       0    3
3          Day by day the facts are getting murkier.       0    4
4                              I'll fix you a drink.       0    5

In [79]:
df_merge.to_csv("training_data.csv",index=False)

In [86]:
df_merge.groupby('target').count()

        sentence   idx
target
0           6285  6285
1            457   457

In [87]:
df_train.groupby('target').count()
#but that might not be exact as we are using the Dataset utility to do the split and not the split in this notebook.

        sentence   idx
target
0           5600  5600
1            422   422